.trapeze {
    width: 80vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    transform: skewY(60deg);
    background-color: #f00; /* Background color of the trapeze shape */
    z-index: 9;
  }
  
  .trapeze-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust the font size as needed */
    color: #fff; /* Adjust the text color as needed */
    z-index: 19;
  }